/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: 19px;
  line-height: 1;
  background-color: #fdfdfd;
  color: #000000;
}
h1 {
  font-family: 'Stardos Stencil', cursive;
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  color: #607d8b;
}

.h1__indent {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

h2 {
  font-family: 'Stardos Stencil', cursive;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  color: #607d8b;
}

a {
  color: #37474f;
  text-decoration: none;
  -webkit-transition: font-size 0.7s, font-weight 0.7s;
  -o-transition: font-size 0.7s, font-weight 0.7s;
  transition: font-size 0.7s, font-weight 0.7s;
}

a:hover,
a:focus {
  font-size: 20px;
  font-weight: bold;
}

a:active {
  color: #3a0014;
}

/* to cancel the effects of the <a> transition on buttons */
.a__button {
  font-size: 19px !important;
  font-weight: 400 !important;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #455a64;
}

.page-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
}

.logo-container {
  margin-left: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__image {
  -webkit-box-shadow: 0 0 10px 0 #607d8b;
  box-shadow: 0 0 10px 0 #607d8b;
  border-radius: 3px;
}

.h1__nav-styling {
  padding-left: 15px;
  font-size: 30px !important;
}

.page-header__menu {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 50px;
}

.main-navigation input[type='checkbox'],
.main-navigation .hamburger-lines {
  display: none;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.profile {
  max-width: 60vw;
  margin: 10vh auto;
  padding: 20px;
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-left: 10%;
  margin-right: 20px;
  border-radius: 50%;
}

.contact-page-container {
  background-color: #fdfdfd;
  -webkit-box-shadow: 0 0 20px 0 #607d8b;
  box-shadow: 0 0 20px 0 #607d8b;
  border-radius: 3px;
  padding-top: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 400px;
  height: 250px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0 20px 0 20px;
    text-align: center;
    width: 100%;
  }

  .grid__item {
    background-color: #fdfdfd;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px 0 #b0bec5;
    box-shadow: 0 0 3px 0 #b0bec5;
    width: auto;
    min-height: auto;
    padding: 20px;
  }
}

.grid__item-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.project_container {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project-image {
  max-width: 200px;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 20px 0 #37474f;
  box-shadow: 0 10px 20px 0 #37474f;
}

.project-image:hover {
  -webkit-box-shadow: 0 10px 10px 0 #37474f;
  box-shadow: 0 10px 10px 0 #37474f;
}

.project-image:focus {
  -webkit-box-shadow: 0 10px 10px 0 #37474f;
  box-shadow: 0 10px 10px 0 #37474f;
}

.nolink-image {
  max-width: 200px;
  border-radius: 3px;
  -webkit-box-shadow: 0 10px 20px 0 #37474f;
  box-shadow: 0 10px 20px 0 #37474f;
}

.project-image__div {
  min-width: 250px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-bottom: 10px;
}

.project-info__div {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.about-container {
  background-color: #fdfdfd;
  -webkit-box-shadow: 0 0 20px 0 #607d8b;
  box-shadow: 0 0 20px 0 #607d8b;
  border-radius: 3px;
  background-color: #fdfdfd;
  box-shadow: 0 0 20px 0 #607d8b;
  border-radius: 3px;
  padding: 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  height: auto;
  margin: auto;
  max-width: 65%;
  line-height: 1.15;
}

/*plant animation */
.plant-container {
  position: relative;
  text-align: center;
  width: 250px;
  height: 175px;
  padding-top: 30px;
  margin: auto;
}

@-webkit-keyframes leaf-grow {
  0% {
    -webkit-transform: translate(0px, 350px) rotateZ(0deg);
    transform: translate(0px, 350px) rotateZ(0deg);
  }
  20% {
    -webkit-transform: translate(0px, 280px) rotateZ(-2deg);
    transform: translate(0px, 280px) rotateZ(-2deg);
  }
  30% {
    -webkit-transform: translate(0px, 200px) rotateZ(1deg);
    transform: translate(0px, 200px) rotateZ(1deg);
  }
  50% {
    -webkit-transform: translate(0px, 120px) rotateY(10deg);
    transform: translate(0px, 120px) rotateY(10deg);
  }
  75% {
    -webkit-transform: translate(0px, 50px) rotateY(-20deg);
    transform: translate(0px, 50px) rotateY(-20deg);
  }
  100% {
    -webkit-transform: translate(0, 0px) rotateY(0deg);
    transform: translate(0, 0px) rotateY(0deg);
  }
}

@keyframes leaf-grow {
  0% {
    -webkit-transform: translate(0px, 350px) rotateZ(0deg);
    transform: translate(0px, 350px) rotateZ(0deg);
  }
  20% {
    -webkit-transform: translate(0px, 280px) rotateZ(-2deg);
    transform: translate(0px, 280px) rotateZ(-2deg);
  }
  30% {
    -webkit-transform: translate(0px, 200px) rotateZ(1deg);
    transform: translate(0px, 200px) rotateZ(1deg);
  }
  50% {
    -webkit-transform: translate(0px, 120px) rotateY(10deg);
    transform: translate(0px, 120px) rotateY(10deg);
  }
  75% {
    -webkit-transform: translate(0px, 50px) rotateY(-20deg);
    transform: translate(0px, 50px) rotateY(-20deg);
  }
  100% {
    -webkit-transform: translate(0, 0px) rotateY(0deg);
    transform: translate(0, 0px) rotateY(0deg);
  }
}

.plant {
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-animation: 3s leaf-grow 1 normal linear;
  animation: 3s leaf-grow 1 normal linear;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.project-page-footer,
.contact-page-footer,
.index-page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

@media all and (max-width: 1300px) {
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    max-width: 85vw;
    margin: 8vh auto;
    padding: 20px;
  }

  .profile__portrait {
    float: none;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media all and (max-width: 1000px) {
  .grid {
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container {
    max-width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .page-header__menu {
    margin-right: 0px;
  }

  .logo-container {
    margin-left: 10px;
  }

  .h1__nav-styling {
    padding-left: 12px;
    font-size: 25px !important;
  }

  .main-navigation input[type='checkbox'],
  .main-navigation .hamburger-lines {
    display: block;
  }

  .main-navigation input[type='checkbox'] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 35px;
    right: 40px;
    z-index: 5;
    opacity: 0;
  }

  .main-navigation .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 35px;
    right: 40px;
    z-index: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .main-navigation .navigation-list {
    padding-top: 220px;
    padding-left: 10px;
    background: #fdfdfd;
    width: 75vw;
    max-width: 200px;
    -webkit-transform: translate(150%);
    -ms-transform: translate(150%);
    transform: translate(150%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-box-shadow: 5px 0px 10px 0px #37474f;
    box-shadow: 5px 0px 10px 0px #37474f;
    border-radius: 5px;
    opacity: 0.9;
  }

  .main-navigation .navigation-list li {
    display: block;
    text-align: left;
    margin-right: 0px;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .main-navigation .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #607d8b;
  }

  .main-navigation .hamburger-lines .line1 {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }

  .main-navigation .hamburger-lines .line2 {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }

  .main-navigation .hamburger-lines .line3 {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }

  .main-navigation input[type='checkbox']:checked ~ .navigation-list {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .main-navigation input[type='checkbox']:checked ~ .hamburger-lines .line1 {
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  .main-navigation input[type='checkbox']:checked ~ .hamburger-lines .line2 {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }

  .main-navigation input[type='checkbox']:checked ~ .hamburger-lines .line3 {
    -webkit-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    transform: rotate(-35deg);
  }

  .profile {
    margin: 4vh auto;
  }

  .grid__item-inner-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .contact-page-container {
    max-width: 90%;
  }

  @media all and (max-width: 600px) {
    body {
      font-size: 17px;
    }

    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 25px;
    }

    .h1__nav-styling {
      padding-left: 10px;
      font-size: 20px !important;
    }

    .page-header__item {
      height: 45px;
    }

    .profile__portrait {
      width: 200px;
    }

    textarea {
      width: 100%;
    }

    .grid__item {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .about-container {
      max-width: 90%;
    }
  }

  @media only screen and (min-width: 1260px) {
    .contact-message {
      width: 40%;
    }

    .contact-information {
      padding-top: 5%;
      width: 60%;
      text-align: center;
    }
  }
}
