/* Website colors: probably won't use them all! :)
.color-primary-0 { color: #589F0F }	Main Primary color
.color-primary-1 { color: #E7EBE3 }
.color-primary-2 { color: #7D8575 }
.color-primary-3 { color: #3E7C00 }
.color-primary-4 { color: #1E3B00 }

.color-complement-0 { color: #9B0E40 }	Main Complement color
.color-complement-1 { color: #E6DEE1 }
.color-complement-2 { color: #817277 }
.color-complement-3 { color: #78002B }
.color-complement-4 { color: #3A0014 }

*/

:root {
  --primary-color: #3E7C00;
  --secondary-color: #9B0E40;
  --compliment-color: #817277;
  --secondary-compliment-color: #E6DEE1;
  --text-color: #1E3B00;
  --background-color: #E7EBE3;
  --a-color__active: #3A0014;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  --input-background-color: #FFF8FB;
  --header-font-weight: 600;
  --body-font-size: 17px;
  --h1-font-size: 40px;
  --h2-font-size: 30px;
  --standard-line-height: 1;
  --standard-element-padding: 20px;
  --grid-gap: 10px;
  --grid-border-radius: 10px;
  --grid-margin: 0 20px 0 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: var(--body-font-size);
  line-height: var(--standard-line-height);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--header-font-weight);
  font-size: var(--h1-font-size);
  line-height: var(--standard-line-height);
  color: var(--primary-color);
}

.h1__indent {
  padding-left: var(--standard-element-padding);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: var(--header-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--standard-line-height);
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: font-size .7s, font-weight .7s;
}

a:visited {
  color: var(--compliment-color);
}

a:hover, a:focus {
  font-size: 18px;
  font-weight: bold;
}

a:active {
  color: var(--a-color__active);
}

/* to cancel the effects of the <a> transition on buttons*/
.a__button {
  font-size: var(--body-font-size) !important;
  font-weight: 400 !important;
}

/*nav  a.current {
  color: #3A0014;
} Need Javascript to compare the current page to the nav */

.page-header {
  display: flex;
  width: 100%;
  padding: var(--standard-element-padding);
  justify-content: space-around;
  align-items: center;
  border-bottom:1px solid var(--compliment-color);
}

/*the flex basis alone does not control my image size. I need to add a height to the css*/
.page-header__item {
  flex: 0 1 100px;
  height: 100px;
}

.page-header__item:first-child {
  border-radius: 10px;
  border:2px solid var(--compliment-color);
}

/*Centering the nav with the logo photo*/
.page-header__item:last-child {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  align-items: center;
}

.main-navigation input[type="checkbox"],
.main-navigation .hamburger-lines {
  display: none;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.profile {
  max-width: 60vw;
  margin: 10vh auto; 
  padding: var(--standard-element-padding);
}

.profile__portrait {
  float:left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
} 

.contact-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--standard-element-padding);
  border: none;
}

.contact-information {
  margin-left: 20px;
  margin-top: 20px;
}

.contact-form__item {
  margin-top: 10px;
}

.contact-form__item_style {
  border-radius: 5px;
  padding: 4px;
  border: 1px solid var(--compliment-color);
  color: var(--text-color);
  background-color: var(--input-background-color);
}

.contact-form__item_style:focus {
  outline-color: var(--secondary-color);
  outline-width: 1px;
  outline-style: solid;
}

textarea {
  width: 500px;
}

.error-message {
  font-size: 16px;
  color: var(--secondary-color);
  padding-top: 5px;
}

/*combined button and input attribute selector into one*/
.button, input[type="submit"] {
  border: none;
  display: inline-block;
  background-color: inherit;
  font-size: inherit;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px var(--box-shadow-color);
  transition: background-color .5s;
  /*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/
}

.button-hover:hover, .button-hover:focus {
  cursor: pointer;
  background-color: var(--secondary-compliment-color);
}

/*use this class again and change the name if other single buttons are added*/
.cv-button {
  padding: var(--standard-element-padding);
  text-align: center;
  margin: 15px 0 10px 0;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
 }

 .small-grid__item {
  display: inline-block;
  width: 12%;
 }
 /* end grid fallback */
 
@supports (display: grid) {
  .grid {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--grid-gap);
    margin: var(--grid-margin);
  }

  .grid__item {
    background-color: var(--secondary-compliment-color);
    border-radius: var(--grid-border-radius);
    width: auto;
    min-height: auto;
    padding: var(--standard-element-padding);
  }

  .small-grid {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--grid-gap);
    margin: var(--grid-margin);
    align-items: center;
    text-align: center;
  }

  .small-grid__item {
    background-color: var(--secondary-compliment-color);
    border-radius: var(--grid-border-radius);
    width: auto;
    min-height: auto;
    padding: var(--standard-element-padding);
  }
}

/*grid animation begins here*/

@keyframes grid-flip {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.small-grid__item:hover, .small-grid__item:focus {
  animation: 
      .5s grid-flip 1 normal linear;
}

/*plant animation begins here*/

.plant-container {
  position: relative;
  text-align: center;
  width: 250px;
  margin: 0 auto ;
}

@keyframes leaf-grow {
  0% {
    transform: translate(0px, 350px) rotateZ(0deg);
  }
  20% {
    transform: translate(0px, 280px) rotateZ(-2deg);
  }
  30% {
    transform: translate(0px, 200px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 120px) rotateY(10deg);
  }
  75% {
    transform: translate(0px, 50px) rotateY(-20deg);
  }
  100% {
    transform: translate(0, 0px) rotateY(0deg);
  }
}

.plant {
  transform-origin: bottom center;
  animation: 
      3s leaf-grow 1 normal linear;
}

 /*
  animation-duration: 8s;
  animation-name: leaf-grow;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  */

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .small-grid {
    grid-template-columns: repeat(4,1fr);
  }
}

 @media all and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  .page-header {
    padding: 10px;
  }
  
  .page-header__item {
    flex: 0 1 75px;
    height: 75px;
  }
  
  .main-navigation input[type="checkbox"],
  .main-navigation .hamburger-lines {
    display: block;
  }
  
  .main-navigation input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 35px;
    right: 40px;
    z-index: 5;
    opacity: 0;
  }
  
  .main-navigation .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 35px;
    right: 40px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
   .main-navigation .navigation-list {
    padding-top: 220px;
    background: var(--input-background-color);
    width: 75vw;
    max-width: 300px;
    transform: translate(150%);
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px var(--box-shadow-color);
    border-radius: 5px;
    opacity: 0.9;
  }

  .main-navigation .navigation-list li {
    display: block;
    text-align: left; /* how can i center this!?*/
    margin-right: 0px;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500; 
  }
  
  .main-navigation .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--primary-color);
  }

  .main-navigation .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .main-navigation .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .main-navigation .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
 .main-navigation input[type="checkbox"]:checked ~ .navigation-list {
    transform: translateX(0);
  }

  .main-navigation input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .main-navigation input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .main-navigation input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  } 
  /*
  .navigation-list li {
  display: block;
  margin-left: 15px;
  }

  .page-header__item:last-child {
    flex-basis: 175px;
    flex-grow: 0;
    text-align: left;
  }
*/
  .profile__portrait {
    width: 200px;
  } 

  textarea {
    width: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
  }
 }

 @media only screen and (max-width: 768px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 85vw;
    margin: 3vh auto; 
    padding: var(--standard-element-padding);
  }
  
  .profile__portrait {
    float: none;
    margin-bottom: 20px;
    margin-right: 0;
  } 
 }

 @media only screen and (min-width: 992px) {
  .contact-page-container {
    display: flex;
    height: 100%;
    justify-content: space-around;
  }

  .contact-message {
    width: 40%;
  }

  .contact-information {
    padding-top: 5%;
    width: 60%;
    text-align: center;
  }
}

 @media only screen and (min-width: 1200px) {
  .small-grid {
    grid-template-columns: repeat(8,1fr);
  }
 }

/*possible future nav intermediary
@media all and (max-width: 650px) {
 
  .page-header {
    flex-direction: column;
    height: 200px;
    padding: 20px 0 20px 0;
  }

  .page-header__item:first-child {
    margin-bottom: 10px;
  }

  .page-header__item:last-child {
    width: 500px;
    display: flex;
    /* Why do I need to use flex here? and then with text-align/ align-items? Why is this child also in columns already?
    text-align: center;
  }

  .navigation-list li {
    margin: none;
  }
}*/