/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* Website colors: probably won't use them all! :)
.color-primary-0 { color: #589F0F }	Main Primary color
.color-primary-1 { color: #E7EBE3 }
.color-primary-2 { color: #7D8575 }
.color-primary-3 { color: #3E7C00 }
.color-primary-4 { color: #1E3B00 }

.color-complement-0 { color: #9B0E40 }	Main Complement color
.color-complement-1 { color: #E6DEE1 }
.color-complement-2 { color: #817277 }
.color-complement-3 { color: #78002B }
.color-complement-4 { color: #3A0014 }

*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 17px;
  line-height: 1;
  background-color: #E7EBE3;
  color: #1E3B00;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  color: #3E7C00;
}

.h1__indent {
  padding-left: 20px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  color: #3E7C00;
}

a {
  color: #9B0E40;
  text-decoration: none;
  -webkit-transition: font-size .7s, font-weight .7s;
  -o-transition: font-size .7s, font-weight .7s;
  transition: font-size .7s, font-weight .7s;
}

a:visited {
  color: #817277;
}

a:hover, a:focus {
  font-size: 18px;
  font-weight: bold;
}

a:active {
  color: #3A0014;
}

/* to cancel the effects of the <a> transition on buttons*/
.a__button {
  font-size: 17px !important;
  font-weight: 400 !important;
}

/*nav  a.current {
  color: #3A0014;
} Need Javascript to compare the current page to the nav? */

/* supposed to center <nav> text to logo. But not anymore*/
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom:1px solid #817277;
}

/*the flex basis alone does not control my image size. I need to add a height to the css*/
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  height: 100px;
}

.page-header__item:first-child {
  border-radius: 10px;
  border:2px solid #817277;
}

/*NOT the last child OF .ph__i.  Instead: ph__i that IS the last child.*/
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  /* justify-content does not work here, because the ".page_header display:flex" only applies to the <img> and the <ul>, NOT the
  <li> items in the <ul>.  I would need to add "display:flex" here to use content alignment properties */
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.profile {
  max-width: 60vw;
  margin: 10vh auto; 
  padding: 20px;
}

.profile__portrait {
  float:left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
} 

.contact-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px;
  border: none;
}

.contact-information {
  margin-left: 20px;
  margin-top: 20px;
}

.contact-form__item {
  margin-top: 10px;
}

.contact-form__item_style {
  border-radius: 5px;
  padding: 4px;
  border: 1px solid #817277;
  color: #1E3B00;
  background-color: #FFF8FB;
}

.contact-form__item_style:focus {
  outline-color: #9B0E40;
  outline-width: 1px;
}

textarea {
  width: 500px;
}

/*combined button and input attribute selector into one*/
.button {
  border: none;
  display: inline-block;
  background-color: inherit;
  font-size: inherit;
  color: #1E3B00;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  /*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/
}
input[type="submit"] {
  border: none;
  display: inline-block;
  background-color: inherit;
  font-size: inherit;
  color: #1E3B00;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s;
  /*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/
}

.button-hover:hover {
  cursor: pointer;
  background-color: #E6DEE1;
}

.button-hover:focus {
  cursor: pointer;
  background-color: #E6DEE1;
}

/*use this class again and change the name if other single buttons are added*/
.cv-button {
  padding: 20px;
  text-align: center;
  margin: 15px 0 10px 0;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
 }

 .small-grid__item {
  display: inline-block;
  width: 12%;
 }
 /* end grid fallback */
 
@supports (display: grid) {
  .grid {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 0 20px 0 20px;
  }

  .grid__item {
    background-color: #E6DEE1;
    border-radius: 10px;
    width: auto;
    min-height: auto;
    padding: 20px;
  }

  .grid__item:first-child {
    -ms-grid-column: 1;
    grid-column: 1 / 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }

  .small-grid {
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 0 20px 0 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .small-grid__item {
    background-color: #E6DEE1;
    border-radius: 10px;
    width: auto;
    min-height: auto;
    padding: 20px;
  }
}

/*grid animation begins here*/

@-webkit-keyframes grid-flip {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  75% {
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes grid-flip {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  75% {
    -webkit-transform: rotateZ(270deg);
            transform: rotateZ(270deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.small-grid__item:hover, .small-grid__item:focus {
  -webkit-animation: 
      .5s grid-flip 1 normal linear;
          animation: 
      .5s grid-flip 1 normal linear;
}

/*plant animation begins here*/

.plant-container {
  position: relative;
  text-align: center;
  width: 250px;
  margin: 0 auto ;
}

@-webkit-keyframes leaf-grow {
  0% {
    -webkit-transform: translate(0px, 350px) rotateZ(0deg);
            transform: translate(0px, 350px) rotateZ(0deg);
  }
  20% {
    -webkit-transform: translate(0px, 280px) rotateZ(-2deg);
            transform: translate(0px, 280px) rotateZ(-2deg);
  }
  30% {
    -webkit-transform: translate(0px, 200px) rotateZ(1deg);
            transform: translate(0px, 200px) rotateZ(1deg);
  }
  50% {
    -webkit-transform: translate(0px, 120px) rotateY(10deg);
            transform: translate(0px, 120px) rotateY(10deg);
  }
  75% {
    -webkit-transform: translate(0px, 50px) rotateY(-20deg);
            transform: translate(0px, 50px) rotateY(-20deg);
  }
  100% {
    -webkit-transform: translate(0, 0px) rotateY(0deg);
            transform: translate(0, 0px) rotateY(0deg);
  }
}

@keyframes leaf-grow {
  0% {
    -webkit-transform: translate(0px, 350px) rotateZ(0deg);
            transform: translate(0px, 350px) rotateZ(0deg);
  }
  20% {
    -webkit-transform: translate(0px, 280px) rotateZ(-2deg);
            transform: translate(0px, 280px) rotateZ(-2deg);
  }
  30% {
    -webkit-transform: translate(0px, 200px) rotateZ(1deg);
            transform: translate(0px, 200px) rotateZ(1deg);
  }
  50% {
    -webkit-transform: translate(0px, 120px) rotateY(10deg);
            transform: translate(0px, 120px) rotateY(10deg);
  }
  75% {
    -webkit-transform: translate(0px, 50px) rotateY(-20deg);
            transform: translate(0px, 50px) rotateY(-20deg);
  }
  100% {
    -webkit-transform: translate(0, 0px) rotateY(0deg);
            transform: translate(0, 0px) rotateY(0deg);
  }
}

.plant {
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-animation: 
      3s leaf-grow 1 normal linear;
          animation: 
      3s leaf-grow 1 normal linear;
}

 /*
  animation-duration: 8s;
  animation-name: leaf-grow;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: linear;
  */

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .small-grid {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4,1fr);
  }
}

 @media all and (max-width: 600px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 25px;
  }

  .navigation-list li {
  display: block;
  margin-left: 15px;
  }

  .page-header__item:last-child {
    -ms-flex-preferred-size: 175px;
        flex-basis: 175px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    text-align: left;
  }

  .profile__portrait {
    width: 200px;
  } 

  textarea {
    width: 100%;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid__item:first-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
 }

 @media only screen and (max-width: 768px) {
  .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    max-width: 85vw;
    margin: 3vh auto; 
    padding: 20px;
  }
  
  .profile__portrait {
    float: none;
    margin-bottom: 20px;
    margin-right: 0;
  } 
 }

 @media only screen and (min-width: 1200px) {
  .small-grid {
    -ms-grid-columns: (1fr)[8];
    grid-template-columns: repeat(8,1fr);
  }
 }

/*possible future nav intermediary
@media all and (max-width: 650px) {
 
  .page-header {
    flex-direction: column;
    height: 200px;
    padding: 20px 0 20px 0;
  }

  .page-header__item:first-child {
    margin-bottom: 10px;
  }

  .page-header__item:last-child {
    width: 500px;
    display: flex;
    /* Why do I need to use flex here? and then with text-align/ align-items? Why is this child also in columns already?
    text-align: center;
  }

  .navigation-list li {
    margin: none;
  }
}*/