:root {
  --primary-color: #607d8b; /*#3E7C00;*/
  --secondary-color: #37474f; /* #9B0E40;*/
  --compliment-color: #455a64; /*#817277;*/
  --secondary-compliment-color: #b0bec5; /*#E6DEE1;*/
  --text-color: #000000; /* #1E3B00; */
  --background-color: #fdfdfd;
  --a-color__active: #3a0014;
  --box-shadow-color: #37474f;
  --input-background-color: #fff8fb;
  --header-font-weight: 600;
  --body-font-size: 19px;
  --h1-font-size: 40px;
  --h2-font-size: 30px;
  --standard-line-height: 1;
  --standard-element-padding: 20px;
  --grid-gap: 20px;
  --grid-border-radius: 3px;
  --grid-margin: 0 20px 0 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  font-size: var(--body-font-size);
  line-height: var(--standard-line-height);
  background-color: var(--background-color);
  color: var(--text-color);
}
h1 {
  font-family: 'Stardos Stencil', cursive;
  font-weight: var(--header-font-weight);
  font-size: var(--h1-font-size);
  line-height: var(--standard-line-height);
  color: var(--primary-color);
}

.h1__indent {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

h2 {
  font-family: 'Stardos Stencil', cursive;
  font-weight: var(--header-font-weight);
  font-size: var(--h2-font-size);
  line-height: var(--standard-line-height);
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: font-size 0.7s, font-weight 0.7s;
}

/*a:visited {
  color: var(--compliment-color);
}*/

a:hover,
a:focus {
  font-size: 20px;
  font-weight: bold;
}

a:active {
  color: var(--a-color__active);
}

/* to cancel the effects of the <a> transition on buttons*/
.a__button {
  font-size: var(--body-font-size) !important;
  font-weight: 400 !important;
}

.page-header {
  display: flex;
  width: 100%;
  padding: var(--standard-element-padding);
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--compliment-color);
}

.page-header__item {
  display: flex;
  height: 75px;
}

.logo-container {
  margin-left: 50px;
  align-items: center;
}

.header__image {
  box-shadow: 0 0 10px 0 var(--primary-color);
  border-radius: var(--grid-border-radius);
}

.h1__nav-styling {
  padding-left: 15px;
  font-size: var(--h2-font-size) !important;
}

.page-header__menu {
  flex-grow: 1;
  justify-content: right;
  align-items: center; /*Centers the nav menu with the logo photo*/
  margin-right: 50px;
}

.main-navigation input[type='checkbox'],
.main-navigation .hamburger-lines {
  display: none;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.profile {
  max-width: 60vw;
  margin: 10vh auto;
  padding: var(--standard-element-padding);
  text-align: center;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-left: 10%;
  margin-right: 20px;
  border-radius: 50%;
}

/* For contact page without form */
.contact-page-container {
  background-color: var(--background-color);
  box-shadow: 0 0 20px 0 var(--primary-color);
  border-radius: var(--grid-border-radius);
  padding-top: var(--standard-element-padding);
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 250px;
  justify-content: center;
  text-align: center;
}

/* For contact page WITH the form */
/*.contact-page-container {
  background-color: var(--secondary-compliment-color);
  box-shadow: 0 0 20px 0 var(--box-shadow-color);
  border-radius: var(--grid-border-radius);
  max-width: 90%;
  margin: auto;
  padding-top: var(--standard-element-padding);
}
*/

.contact-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--standard-element-padding);
  border: none;
}

.contact-information {
  margin-left: 20px;
  margin-top: 20px;
}

.contact-form__item {
  margin-top: 10px;
}

.contact-form__item_style {
  border-radius: 5px;
  padding: 4px;
  border: 1px solid var(--compliment-color);
  color: var(--text-color);
  background-color: var(--input-background-color);
}

.contact-form__item_style:focus {
  outline-color: var(--secondary-color);
  outline-width: 1px;
  outline-style: solid;
}

textarea {
  width: 500px;
}

.error-message {
  font-size: 16px;
  color: var(--secondary-color);
  padding-top: 5px;
}

.button,
input[type='submit'] {
  border: none;
  display: inline-block;
  background-color: inherit;
  font-size: inherit;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 2px 3px var(--box-shadow-color);
  transition: background-color 0.5s;
  /*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/
}

.button-hover:hover,
.button-hover:focus {
  cursor: pointer;
  background-color: var(--secondary-compliment-color);
}

/*use this class for any single buttons added
.cv-button {
  padding: var(--standard-element-padding);
  text-align: center;
  margin: 15px 0 10px 0;
}
*/

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);
    margin: var(--grid-margin);
    text-align: center;
    width: 100%;
  }

  .grid__item {
    background-color: var(--background-color);
    border-radius: var(--grid-border-radius);
    box-shadow: 0 0 3px 0 var(--secondary-compliment-color);
    width: auto;
    min-height: auto;
    padding: var(--standard-element-padding);
  }
}

.grid__item-inner-container {
  display: flex;
  flex-direction: row;
}

.project_container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.project-image {
  max-width: 200px;
  border-radius: var(--grid-border-radius);
  box-shadow: 0 10px 20px 0 var(--box-shadow-color);
}

.project-image:hover,
.project-image:focus {
  box-shadow: 0 10px 10px 0 var(--box-shadow-color);
}

.nolink-image {
  max-width: 200px;
  border-radius: var(--grid-border-radius);
  box-shadow: 0 10px 20px 0 var(--box-shadow-color);
}

.project-image__div {
  min-width: 250px;
  align-self: center;
  padding-bottom: 10px;
}

.project-info__div {
  align-self: center;
}

.about-container {
  background-color: var(--background-color);
  box-shadow: 0 0 20px 0 var(--primary-color);
  border-radius: var(--grid-border-radius);
  background-color: var(--background-color);
  box-shadow: 0 0 20px 0 var(--primary-color);
  border-radius: var(--grid-border-radius);
  padding: var(--standard-element-padding);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: auto;
  margin: auto;
  max-width: 65%;
  line-height: 1.15;
}

/*plant animation */

.plant-container {
  position: relative;
  text-align: center;
  width: 250px;
  height: 175px;
  padding-top: 30px;
  margin: auto;
}

@keyframes leaf-grow {
  0% {
    transform: translate(0px, 350px) rotateZ(0deg);
  }
  20% {
    transform: translate(0px, 280px) rotateZ(-2deg);
  }
  30% {
    transform: translate(0px, 200px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 120px) rotateY(10deg);
  }
  75% {
    transform: translate(0px, 50px) rotateY(-20deg);
  }
  100% {
    transform: translate(0, 0px) rotateY(0deg);
  }
}

.plant {
  transform-origin: bottom center;
  animation: 3s leaf-grow 1 normal linear;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.project-page-footer,
.contact-page-footer,
.index-page-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

@media all and (max-width: 1300px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 85vw;
    margin: 8vh auto;
    padding: var(--standard-element-padding);
  }

  .profile__portrait {
    float: none;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media all and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .about-container {
    max-width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .page-header__menu {
    margin-right: 0px;
  }

  .logo-container {
    margin-left: 10px;
  }

  .h1__nav-styling {
    padding-left: 12px;
    font-size: 25px !important;
  }

  .main-navigation input[type='checkbox'],
  .main-navigation .hamburger-lines {
    display: block;
  }

  .main-navigation input[type='checkbox'] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 35px;
    right: 40px;
    z-index: 5;
    opacity: 0;
  }

  .main-navigation .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 35px;
    right: 40px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-navigation .navigation-list {
    padding-top: 220px;
    padding-left: 10px;
    background: var(--background-color);
    width: 75vw;
    max-width: 200px;
    transform: translate(150%);
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px var(--box-shadow-color);
    border-radius: 5px;
    opacity: 0.9;
  }

  .main-navigation .navigation-list li {
    display: block;
    text-align: left;
    margin-right: 0px;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .main-navigation .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--primary-color);
  }

  .main-navigation .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .main-navigation .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .main-navigation .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .main-navigation input[type='checkbox']:checked ~ .navigation-list {
    transform: translateX(0);
  }

  .main-navigation input[type='checkbox']:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .main-navigation input[type='checkbox']:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .main-navigation input[type='checkbox']:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .profile {
    margin: 4vh auto;
  }

  .grid__item-inner-container {
    flex-direction: column;
  }

  /*added for non-form page: remove! */
  .contact-page-container {
    max-width: 90%;
  }

  @media all and (max-width: 600px) {
    body {
      font-size: 17px;
    }

    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 25px;
    }

    .h1__nav-styling {
      padding-left: 10px;
      font-size: 20px !important;
    }

    .page-header__item {
      height: 45px;
    }

    .profile__portrait {
      width: 200px;
    }

    textarea {
      width: 100%;
    }

    .grid__item {
      flex-wrap: wrap;
    }

    .about-container {
      max-width: 90%;
    }
  }

  @media only screen and (min-width: 1260px) {
    /* Add in when form is back */
    /*.contact-page-container {
    display: flex;
    height: 100%;
    justify-content: space-around;
  }*/

    .contact-message {
      width: 40%;
    }

    .contact-information {
      padding-top: 5%;
      width: 60%;
      text-align: center;
    }
  }
}
